

<div class="row" style="margin-bottom: 5px;" data-ng-controller="UnitsCtl as units">
<div class="row">
    <div class="col-lg-12">
        <section class="panel" data-ng-show="units.showForm">
            <header class="panel-heading">
                Agregar Unidad
            </header>
            <div class="panel-body">
                <form name="newUnitForm" role="form" data-ng-submit="units.AddUnit()">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="newUnitEconomicNumber">Numero economico:</label>
                            <input required data-ng-model="units.newUnit.economicNumber" class="form-control" id="newUnitEconomicNumber" type="text" placeholder="Numero economico">
                        </div>
                        <div class="col-lg-4">
                            <label for="newUnitGPSIP">IP del GPS</label>
                            <input required data-ng-model="units.newUnit.GPSIP" class="form-control" id="newUnitGPSIP" type="text" placeholder="IP del GPS">
                        </div>
                        <div class="col-lg-4">
                            <label for="newUnitFuelCapacity">Capacidad del tanque</label>
                            <input required data-ng-model="units.newUnit.fuelCapacity" class="form-control" id="newUnitFuelCapacity" type="number" min="0" placeholder="Capacidad del tanque en litros">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="newUnitMake">Marca:</label>
                            <input required data-ng-model="units.newUnit.make" class="form-control" id="newUnitMake" type="text" placeholder="Marca de la unidad">
                        </div>
                        <div class="col-lg-4">
                            <label for="newUnitModel">Modelo</label>
                            <input required data-ng-model="units.newUnit.model" class="form-control" id="newUnitModel" type="text" placeholder="Modelo de la unidad">
                        </div>
                        <div class="col-lg-4">
                            <label for="newUnitLicensePlate">Placas</label>
                            <input required data-ng-model="units.newUnit.licensePlate" class="form-control" id="newUnitLicensePlate" type="text" placeholder="Placas de la unidad">
                        </div>
                    </div>
                    <button class="btn btn-info" ng-disabled="newUnitForm.$invalid" type="submit">Guardar</button>
                    <button class="btn" data-ng-click="units.CancelNewUnit()" type="reset">Cancelar</button>
                </form>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <section class="panel">
            <header class="panel-heading">
                Unidades
                <button class="btn btn-xs pull-right" data-ng-click="units.ShowNewUnitForm()"><i class="fa fa-plus-circle" aria-hidden="true" ></i>&nbsp;Agregar</button>
            </header>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th># Economico</th>
                        <th>IP del GPS</th>
                        <th>Tanque (l)</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Placas</th>
                        <th>Tapon</th>
                        <th>Ultimo vale</th>
                        <th>Ubicacion</th>
                        <th>Nivel de diesel</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>U-5461</td>
                        <td>10.42.32.1</td>
                        <td>200</td>
                        <td>Freightliner</td>
                        <td>2017</td>
                        <td>357XA9</td>
                        <td><span class="label label-danger">Abierto</span></td>
                        <td>V0003218</td>
                        <td><a href="https://www.openstreetmap.org/#map=16/20.6194/-103.2395"><i class="fa fa-globe" aria-hidden="true"></i></a></td>
                        <td>
                            <a href="#">
                                <div class="progress progress-striped xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div><small class="pull-right">20%</small>
                            </a>
                        </td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" title="Editar"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Borrar"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>U-5459</td>
                        <td>10.42.32.2</td>
                        <td>200</td>
                        <td>Freightliner</td>
                        <td>2016</td>
                        <td>277UY4</td>
                        <td><span class="label label-success">Cerrado</span></td>
                        <td>V0003222</td>
                        <td><a href="https://www.openstreetmap.org/#map=16/20.6174/-103.2195"><i class="fa fa-globe" aria-hidden="true"></i></a></td>
                        <td>
                            <a href="#">
                                <div class="progress progress-striped xs">
                                    <div class="progress-bar progress-bar-success" style="width: 90%" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">90% Complete</span>
                                    </div>
                                </div><small class="pull-right">90%</small>
                            </a>
                        </td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" title="Editar"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Borrar"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>U-5455</td>
                        <td>10.42.32.3</td>
                        <td>210</td>
                        <td>Iternational</td>
                        <td>2006</td>
                        <td>311OI9</td>
                        <td><span class="label label-danger">Abierto</span></td>
                        <td>V0003211</td>
                        <td><a href="https://www.openstreetmap.org/#map=16/20.6194/-103.2395"><i class="fa fa-globe" aria-hidden="true"></i></a></td>
                        <td>
                            <a href="#">
                                <div class="progress progress-striped xs">
                                    <div class="progress-bar progress-bar-success" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div><small class="pull-right">100%</small>
                            </a>
                        </td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" title="Editar"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Borrar"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>U-5440</td>
                        <td>10.42.32.4</td>
                        <td>210</td>
                        <td>GMC</td>
                        <td>2011</td>
                        <td>322VF1</td>
                        <td><span class="label label-success">Cerrado</span></td>
                        <td>V0003002</td>
                        <td><a href="https://www.openstreetmap.org/#map=16/20.6194/-103.2395"><i class="fa fa-globe" aria-hidden="true"></i></a></td>
                        <td>
                            <a href="#">
                                <div class="progress progress-striped xs">
                                    <div class="progress-bar progress-bar-warning" style="width: 35%" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">35% Complete</span>
                                    </div>
                                </div><small class="pull-right">35%</small>
                            </a>
                        </td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" title="Editar"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Borrar"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="unit in units.unitCollection">
                        <td>{{unit.economicNumber}}</td>
                        <td>{{unit.GPSIP}}</td>
                        <td>{{unit.fuelCapacity}}</td>
                        <td>{{unit.make}}</td>
                        <td>{{unit.model}}</td>
                        <td>{{unit.licensePlate}}</td>
                        <td><i class="fa fa-spinner fa-spin fa-pulse fa-fw" aria-hidden="true"></i>Esperando GPS</td>
                        <td></td>
                        <td><i class="fa fa-spinner fa-spin fa-pulse fa-fw" aria-hidden="true"></i>Esperando GPS</td>
                        <td><i class="fa fa-spinner fa-spin fa-pulse fa-fw" aria-hidden="true"></i>Esperando GPS</td>
                        <td>
                            <i class="fa fa-pencil" aria-hidden="true" title="Editar"></i>
                            <i class="fa fa-trash-o" aria-hidden="true" title="Borrar"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <div class="col-lg-3">
        <!--chat start-->
        <section class="panel">
            <header class="panel-heading">
                Notificaciones
            </header>
            <div class="panel-body" id="noti-box">
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Vale usado.</strong> Vale V0003231 usado y validado exitosamente <a href="#">ver</a>.
                </div>
                <div class="alert alert-block alert-danger">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Vale discrepante</strong> Vale V0002538 usado con diferencias contra la factura <a href="#">ver</a>.
                </div>
                <div class="alert alert-warning">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Tapon abierto</strong> Unidad U-5461 con tapon abierto <a href="#">ver</a>.
                </div>
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Vale usado.</strong> Vale V0003229 usado y validado exitosamente <a href="#">ver</a>.
                </div>
                <div class="alert alert-success">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Vale usado.</strong> Vale V0003218 usado y validado exitosamente <a href="#">ver</a>.
                </div>
                <div class="alert alert-warning">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="fa fa-times"></i>
                    </button>
                    <strong>Tapon abierto</strong> Unidad U-5455 con tapon abierto <a href="#">ver</a>.
                </div>

            </div>
        </section>

    </div>

</div>
</div>