

<div class="row" style="margin-bottom: 5px;" data-ng-controller="SettingsCtl as settings">
    <div class="row">
        <div class="col-lg-9">
            <section class="panel">
                <header class="panel-heading">
                    Configracion
                </header>
                <div class="panel-body">
                    <form name="settingsForm" role="form" ng-submit="settings.SaveSettings()">
                        <div class="form-group row">
                            <div>
                                <label for="GPSMargin">Margen de tapas:</label>
                                <input required ng-model="settings.theSettings.GPSMargin" class="form-control" id="GPSMargin" type="number" min="0" max="1000" placeholder="Margen">
                                <p class="help-block">Distancia maxima (en metros) permisible entre el GPS de una unidad con la tapa abierta y la ubicacion de un taller o gasolinera.</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div>
                                <label for="siGasEndPoint">Direccion de WebService de SiGas:</label>
                                <input required ng-model="settings.theSettings.siGasEndPoint" class="form-control" id="siGasEndPoint" type="url" placeholder="Direccion del webservice">
                            </div>
                        </div>
                        <button class="btn btn-info" ng-disabled="settingsForm.$invalid" type="submit">Guardar</button>
                        <button class="btn" data-ng-click="settings.Cancel()" type="button">Cancelar</button>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-lg-3">
            <!--chat start-->
            <section class="panel">
                <header class="panel-heading">
                    Notificaciones
                </header>
                <div class="panel-body" id="noti-box">
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Vale usado.</strong> Vale V0003231 usado y validado exitosamente <a href="#">ver</a>.
                    </div>
                    <div class="alert alert-block alert-danger">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Vale discrepante</strong> Vale V0002538 usado con diferencias contra la factura <a href="#">ver</a>.
                    </div>
                    <div class="alert alert-warning">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Tapon abierto</strong> Unidad U-5461 con tapon abierto <a href="#">ver</a>.
                    </div>
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Vale usado.</strong> Vale V0003229 usado y validado exitosamente <a href="#">ver</a>.
                    </div>
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Vale usado.</strong> Vale V0003218 usado y validado exitosamente <a href="#">ver</a>.
                    </div>
                    <div class="alert alert-warning">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                            <i class="fa fa-times"></i>
                        </button>
                        <strong>Tapon abierto</strong> Unidad U-5455 con tapon abierto <a href="#">ver</a>.
                    </div>

                </div>
            </section>

        </div>

    </div>
</div>